<div class="container mt-5 col-6 offset-3">
  <h1>Add a Dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all %>
  <%= f.submit "add", class: "btn btn-primary" %>
<% end %>

  <%= link_to "home", cocktails_path %>
</div>
